* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.395),
      rgba(255, 255, 255, 0.395)
    ),
    url(./Images/Coffee\ espresso\ template1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(75, 38, 20);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo img {
  width: 80px;
  height: 80px;
  padding-left: 40px;
}
.ancor-tags {
  margin-top: 20px;
  padding-right: 60px;
}
.ancor-tags a {
  color: rgb(75, 38, 20);
  background-color: #ffffff6b;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  padding: 12px 20px;
}

/* small screens */
@media (max-width: 1000px) {
  #logo img {
    width: 70px;
    height: 70px;
    padding-left: 30px;
  }
  .ancor-tags {
    padding-right: 50px;
  }
  .ancor-tags a {
    padding: 10px 10px;
  }
}

/* tablets screen */
@media (max-width: 780px) {
  #logo img {
    width: 60px;
    height: 60px;
    padding-left: 30px;
  }
  .ancor-tags a {
    font-size: 2.7vh;
    padding: 5px;
  }
}

/* mobile screen */
@media (max-width: 420px) {
  #logo img {
    width: 50px;
    height: 50px;
    padding-left: 10px;
  }
  .ancor-tags {
    padding-right: 10px;
    margin-top: 5px;
  }
  .ancor-tags a {
    font-size: 1.6vh;
    padding: 5px 5px;
  }
}
